.docs__sidebar {
	margin-top: 30px;
	padding: 0 0 10px 0;

	background-color: #ECF0F1;
}

.docs__sidebar-title {
	margin: 20px 0 0 25px;

	display: inline-block;
	vertical-align: middle;
}

.docs__sidebar-button {
	margin: 20px 0 0 10px;
}

.docs__sidebar-button-icon {
	margin-right: 5px;

	font-size: 10px;
}
